<div class="card" style="width: 50rem; left: 25%;" >
    <div class="card-body">
      <h1 class="card-title"> <%= t('welcome') %></h1>
         <p class="card-text"> <%= t('message.welcome') %></p>
         <hr/>
         <p><%= t('message.menu')%></p>
         <p class="lead">
         <%= render "menu" %>
         </p>
    </div>
</div>




